<header class="header">
    <div class="container">
        <nav class="header__nav">
            <div class="header__logo">
                <a href="#">Logo</a>
            </div>
            <button class="header__burger" aria-label="Toggle menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="header__menu-wrapper">
                <ul class="header__menu">
                    <li class="header__menu-item">
                        <a href="#" class="header__menu-link">People nearby</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="#" class="header__menu-link">Search</a>
                    </li>
                </ul>
                <button type="button" class="header__button header__button--premium">
                    <div class="header__button-text">Premium</div>
                    <svg class="header__button-icon" width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10 1.5H15L19 6.5M10 1.5L13 6.5M10 1.5H5L1 6.5M10 1.5L7 6.5M19 6.5L10 16.5M19 6.5H13M10 16.5L13 6.5M10 16.5L1 6.5M10 16.5L7 6.5M13 6.5H7M1 6.5H7"
                            stroke="#FFCF2D" stroke-width="1.5" />
                    </svg>
            </div>
        </nav>
    </div>
</header>
